.menu-detail-card {
     width: 60%;
     background-color: white;
     border: 1px solid black;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     padding: 20px 40px;
}

.menu-detail-content h1 {
     padding: 10px;
     font-size: 1.4rem;
}

.menu-detail-content img {
     width: 100%;
}

.menu-detail-flex {
     display: flex;
     justify-content: space-between;
}

.menu-detail-method {
     display: flex;
}