.form-trivia {
    /* text-align: center; */
    padding: 50px;
}

.form-trivia h2 {
    text-align: center;
}

.hr-line-full {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.form-trivia {
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.form-bt {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 90%;
}

.btn-addtv, .btn-cancel {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-addtv {
    background-color: #4AB4A2;
}

.btn-addtv:hover {
    background-color: #3a9380;
}

.btn-cancel {
    background-color: #f44336;
}

.btn-cancel:hover {
    background-color: #d32f2f;
}

.form-trivia .form--drop-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #d9d9d9;
    padding: 20px;
    cursor: pointer;
    position: relative;
    height: 30vh;
}

.form-trivia .form--drop-pic img {
    width: 100%;
    height: 25vh;
}

.form-trivia .form--drop-pic input[type="file"] {
    display: none;
}