.ingr-content {
     margin-left: auto;
     margin-right: auto;
     width: 95%;
     justify-content: space-between;
}

.ingr-content .display-flex .breadcumb {
     color: black;
     font-size: 0.8vw;
     width: 11%;
}

.ingr-content .display-flex .divider {
     height: 1px;
     width: 74%;
     background-color: #ccc;
     margin: 0 2% 0 0;
}

.add-ingr-btn {
     width: 14%;
     padding: 10px;
     border: none;
     color: white;
     box-shadow: 1px 1px 2px gray;
     background-color: #4AB4A2;
     cursor: pointer;
     align-items: center;
}

.ingr-manage {
     display: flex;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     justify-content: space-between;
}

.ingr-search {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.ingr-search-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 66%;
     border: 1px solid #ccc;
}

.ingr-select-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 17%;
     border: 1px solid #ccc;
     border-left: none;
}

.ingr-search-icon {
     position: absolute;
     left: 20px;
     color: #FFA13F;
}

.ingr-search-input {
     padding-left: 50px;
     width: 100%;
     border: none;
     font-size: 14px;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 10px;
}

.ingr-search-input:focus {
     outline: none;
}

.ingr-search-select {
     padding-left: 40px;
     width: 100%;
     border-radius: 4px;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 10px;
}

.ingr-search-select .ant-select-single {
     height: 52px;
}

.ingr-select-wrapper .ant-select-selector {
     border: none !important;
     box-shadow: none !important;
     padding-left: 30px;
     background-color: #4AB4A2;
}

.ingr-select-wrapper .ant-select-selection-item {
     padding-top: 16px;
     padding-bottom: 16px;
}

.ingr-search-input::placeholder {
     color: #999;
}
 
.table-ingr {
     border-collapse: collapse;
     width: 95%;
     margin-top: 10px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 30px;
}
 
.table-ingr tr:nth-child(even) {
     background-color: #cee4e0;
}
 
.table-ingr tr:nth-child(odd) {
     background-color: white;
}
 
.table-ingr th, .table-ingr td {
     padding: 6px;
     width: 25%;
}

.table-ingr th:first-child, 
.table-ingr td:first-child {
     width: 20%;
}

.table-ingr th:last-child, 
.table-ingr td:last-child {
     text-align: right;
     padding-right: 1%;
}

.ingr-btn--layout {
     display: flex;
     justify-content: space-around;
}

.above-table {
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
     align-items: flex-end;
}

.above-table p {
     color: gray;
     font-size: 14px;
}

.switch-btn button {
     padding: 5px 20px;
     border: none;
     cursor: pointer;
     box-shadow: 1px 1px 2px gray;
}
 
.table-ingr th {
     background-color: #4AB4A2;
     color: white;
     text-align: left;
     font-weight: 500;
}
 
.table-ingr td {
     font-size: 14px;
}
 
.ingr-btn i {
     color: #7e7e7e;
     cursor: pointer;
     padding: 5px;
}
 
.ingr-btn i:hover {
     background-color: white;
     box-shadow: 0 2px 2px 1px lightgrey;
     border-radius: 5px;
     color: #4AB4A2;
}

.dropdown-ingr-card {
     position: absolute;
     background-color: white;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     border: 1px solid #ccc;
     border-radius: 5px;
     overflow: hidden;
     z-index: 1000;
}

.dropdown-trivia button {
     display: block;
     width: 100%;
     padding: 10px 15px;
     background: none;
     border: none;
     text-align: left;
     font-size: 14px;
     cursor: pointer;
     color: #333;
     transition: background-color 0.2s, color 0.2s;
 }

 .dropdown-trivia button:hover {
     background: #f5f5f5;
     color: #4AB4A2;
 }
 
 
 
@media screen and (max-width: 1280px) {
     .ingr-search-wrapper {
          width: 60%;
     }
     
     .ingr-select-wrapper {
          width: 20%;
     }
}

/* @media screen and (max-width: 1024px) {
     
     
     .ingr-content .display-flex .breadcumb {
          font-size: 1.3vw;
          width: 18%;
     }
     
     .ingr-content .display-flex .divider {
          width: 60%;
          margin: 0 2% 0 0;
     }

     .add-ingr-btn {
          width: 20%;
          font-size: 1.5vw;
     }

     .ingr-search-wrapper {
          width: 50%;
     }
     
     .ingr-select-wrapper {
          width: 25%;
     }

     .table-ingr,
     .above-table {
          width: 100%;
     }
} */

@media screen and (max-width: 850px) {
     .ingr-search-wrapper {
          width: 56%;
     }

     .ingr-select-wrapper {
          width: 22%;
     }

     .display-flex {
          margin-top: 10%;
     }

     .ingr-content .display-flex .breadcumb {
          color: black;
          font-size: 1.5vw;
          width: 15%;
     }
     
     .ingr-content .display-flex .divider {
          height: 1px;
          width: 60%;
          background-color: #ccc;
          margin: 0 10px;
     }

     .add-ingr-btn {
          width: 25%;
     }
}