/* Login.css */
.sign-in--container {
    margin-top: -11vh;
    background-color: #4AB4A2;
    height: 111vh;
    padding-top: 20vh;
}

.signin-card {
    background-color: white;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2% 3%;
    margin: auto;
}

.signin-card img {
    width: 80px
}

.signin-card h1 {
    font-size: 1.5rem;
}

.signin-form label {
    color: black;
    text-align: left;
    width: calc(100% - 40px);
    display: block;
    margin: 15px 0 5px 0;
}

.signin-btn {
    width: 100%;
    background-color: #4AB4A2;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.signin-form b {
    text-align: center;
    font-size: 0.8rem;
}

.screen--btm {
    position: absolute;
    bottom: 0;
    width: 100%;
}
