.sign-in--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4AB4A2;
    height: 100vh;
    padding: 5vh 10vw;
}

.signin-card {
    background-color: white;
    width: 100%;
    max-width: 400px; /* ปรับขนาดให้พอดีกับมือถือ */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.signin-card img {
    width: 80px;
}

.signin-card h1 {
    font-size: 1.5rem;
}

.signin-form label {
    color: black;
    text-align: left;
    display: block;
    margin: 15px 0 5px 0;
}

.form--inputbox {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signin-btn {
    width: 100%;
    background-color: #4AB4A2;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

}

.signin-btn:hover {
    background-color: #3a9286;
}

.signin-form b {
    text-align: center;
    font-size: 0.8rem;
    
}

.signin-form p {
    color: #3a9286;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .profile-info {
        width: 72%;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .sign-in--container {
        padding: 5vh 5vw;
    }

    .signin-card {
        width: 90%;
        padding: 15px;
    }

    .signin-btn {
        font-size: 0.9rem;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .sign-in--container {
        padding: 5vh 5vw;
    }

    .signin-card {
        width: 95%;
        padding: 10px;
    }

    .signin-btn {
        font-size: 0.85rem;
        padding: 10px;
    }
}
