.menu-content {
     margin-left: auto;
     margin-right: auto;
     width: 95%;
}

.menu-content .display-flex .breadcumb {
     color: black;
     width: 12%;
}

.menu-content .display-flex .divider {
     height: 1px;
     width: 73%;
     background-color: #ccc;
     margin: 0 10px;
}

.menu-manage {
     display: flex;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     justify-content: space-between;
}

.menu-search {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.add-menu-btn {
     width: 14%;
     padding: 10px;
     border: none;
     color: white;
     box-shadow: 1px 1px 2px gray;
     background-color: #4AB4A2;
     cursor: pointer;
     /* display: flex; */
     align-items: center;
}

.menu-search-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 70%;
     border: 1px solid #ccc;
}

.menu-select-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 15%;
     border: 1px solid #ccc;
     border-left: none;
}

.menu-search-icon {
     position: absolute;
     left: 20px;
     color: #FFA13F;
}

.menu-search-input {
     padding-left: 50px;
     width: 100%;
     border: none;
     font-size: 14px;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 10px;
}

.menu-search-input:focus {
     outline: none;
}

.menu-search-select {
     padding-left: 40px;
     width: 100%;
     border-radius: 4px;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 10px;
}

.menu-search-select .ant-select-single {
     height: 52px;
}

.menu-select-wrapper .ant-select-selector {
     border: none !important;
     box-shadow: none !important;
     padding-left: 30px;
     background-color: #4AB4A2;
}

.menu-select-wrapper .ant-select-selection-item {
     padding-top: 16px;
     padding-bottom: 16px;
}

.menu-search-input::placeholder {
     color: #999;
}

/* .menu-edit {
     display: flex;
     justify-content: center; 
     align-items: center; 
     width: 5%;
     padding: 10px;
     border: none;
     color: white;
     border-radius: 5%;
     background-color: #FFA13F;
     cursor: pointer;
     margin-left: auto; 
     margin-right: 50px;
     margin-top: 10px;
 }
  */


.menu-render{
     width: 95%;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}

.menu-card {
     position: relative;
     width: 18%;
     height: 34vh;
     padding: 13px;
     text-align: right;
     box-shadow: 0 2px 2px 1px lightgrey;
     cursor: pointer;
     background-color: white;
     margin-right: 1%;
}
 
.menu-card i {
     position: absolute;
     top: 20px;
     right: 16px;
     color: white;
     background-color: black;
     padding: 5px 11px;
     border-radius: 50px;
     z-index: 999;
}
 
.menu-card i:hover {
   background-color: #ca7d2a;
}
 
.dropdown-menu-card {
     position: absolute;
     top: 30px;
     right: 0; /* ให้อยู่ชิดขวาของ dropdown-container */
     background: white;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     width: 150px;
}
 
.dropdown-menu-card button {
     display: block;
     width: 100%;
     padding: 10px 15px;
     background: none;
     border: none;
     text-align: left;
     font-size: 14px;
     cursor: pointer;
     color: #333;
     transition: background-color 0.2s, color 0.2s;
}
 
.dropdown-menu-card button:hover {
   background-color: #f1f1f1;
}
 
.menu-pic {
     width: 100%;
     height: 20vh;
     object-fit: cover;
     display: block;
}
 
.menu-card h1 {
     text-align: left;
     font-size: 0.8rem;
     margin-top: 10px;
     font-weight: 400;
     height: 5vh;
}
 
.add-menu-card {
     width: 19%;
     height: 35vh;
     box-shadow: 0 2px 2px 1px lightgrey;
     cursor: pointer;
     background-color: white;
}
 
.add-menu-card:hover {
     border: 2px solid #FFA13F;
}
 
.add-menu-card i {
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     color: gray;
     cursor: pointer;
}
 
.add-menu-card i:hover {
     color: #FFA13F;
}
 
.layout {
     display: flex;
     padding: 10px 0;
     justify-content: space-between;
}
 
.purine {
     text-align: left;
     background-color: #4AB4A2;
     padding: 5px;
     color: white;
     font-size: 0.75rem;
}
 
.uric {
     background-color: #FFA13F;
     padding: 5px;
     color: white;
     font-size: 0.75rem;
}