.modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 10000; /* เพิ่มค่าให้สูงขึ้น */
}

.active-modal {
     overflow-y: hidden;
}

.modal-content {
     background: #f1f1f1;
     padding: 22px 28px;
     border-radius: 8px;
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
     max-width: 400px;
     min-width: 300px;
     position: relative;
}

.modal-content h1 {
     text-align: center;
     font-size: 1.2rem;
     margin-bottom: 20px;
}

.modal-content label {
     font-size: 0.9rem;
     font-weight: bold;
}

.modal--input {
     margin-top: 5px;
     margin-bottom: 10px;
     width: 100%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 5px;
}

.ingr-form--select {
     width: 100%;
     padding: 8px;
     border-radius: 5px;
     margin-bottom: 10px;
}

.ingr-save--btn {
     padding: 8px;
     width: 100%;
     border: none;
     background-color: #4AB4A2;
     color: white;
     border-radius: 5px;
     margin-top: 20px;
     cursor: pointer;
     text-align: center;
}

.ingr-cancel--btn {
     position: absolute;
     top: 10px;
     right: 10px;
     padding: 5px 7px;
     border-radius: 100%;
     border: 1px solid rgb(94, 94, 94);
     color: rgb(94, 94, 94);
     cursor: pointer;
}

.ingr-cancel--btn:hover {
     color: rgb(67, 67, 67);
     border: 1px solid rgb(67, 67, 67);
}
