.profile-content-1 img {
     border-radius: 50%;
     width: 10%;
}

.profile-layout {
     display: flex;
     justify-content: space-between;
     margin-top: -10%;
     width: 82%;
     margin-left: auto;
     margin-right: auto;
}

.profile-info {
     width: 32%;
     border: 1px solid #ccc;
     border-radius: 8px;
     padding: 16px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info-layout {
     display: flex;
     justify-content: space-between;
     width: 90%;
     margin-left: auto;
     margin-right: auto;
     /* margin-top: 30px; */
}

.profile-info .name {
     margin-top: 10px;
     font-size: 1.2rem;
     margin-bottom: 20px;
}

.profile-info .email {
     font-size: 0.9rem;
}

.profile-context {
     width: 66%;
     border: 1px solid #ccc;
     border-radius: 8px;
     padding: 16px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-content {
     width: 82%;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #ccc;
     border-radius: 8px;
     padding: 30px;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-content--edit {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #ccc;
     border-radius: 8px;
     padding: 3% 5%;
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-content--edit h1 {
     font-weight: 500;
}

.profile-info p {
     text-align: center;
}

.profile-image {
     display: flex;
     border-radius: 50%;
     width: 50%;
     height: auto;
     object-fit: cover;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px; 
}

.profile--edit img {
     width: 16%;
     margin-top: 40px;
     margin-bottom: 20px;
}

.profile-image--edit {
     display: flex;
     align-items: center;
}

.profile-image--upload,
.profile-image--remove {
     padding: 10px;
     width: 250px;
     border-radius: 10px;
     border: none;
     cursor: pointer;     
}

.profile-image--upload {
     margin-left: 4%;
     background-color: #4AB4A2;
     color: white;
     font-weight: 500;
}

.profile-image--remove {
     margin-left: 1%;
     background-color: #ccc;
     font-weight: 500;
}
.profile-btn {
     height: 30px;
     width: 250px;
     margin: 20px auto;
     display: block;
     cursor: pointer;
     background-color: #4AB4A2;
     border: none;
     color: white;
}

.profile-btn:hover {
     background-color: #459f90;
}

.profile-btn i {
     margin-left: 10px;
}

.profile-image-background img {
     width: 100%;
     height: 45vh;
}
   
.profile-data {
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
}
   
.profile-data div {
     width: 49%;
}
   
.profile-data p {
     margin: 8.5px 0;
}
   
.profile-data input {
     width: 100%;
     padding: 10px;
     margin-bottom: 12px;
     border: 1px solid #ccc;
     border-radius: 14px;
     background-color: #f9f9f9;
     font-size: 16px;
}
   
.edt-profile-btn {
     background-color: #4AB4A2;
     color: white;
     align-self: center;
     padding: 10px;
     width: 250px;
     border-radius: 10px;
     border: none;
     cursor: pointer;
     font-weight: 500;
     margin-top: 30px;
}

.profile-menu-content {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     gap: 10px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}