/* Register.css */
body {
    background-image: url("../../public/Banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .web {
    background-color: #FFA13F;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
} */

.signup-card {
    background-color: white;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    margin-top: 1%;
}

.signup-form--right label {
    color: black;
    text-align: left;
    width: calc(100% - 40px);
    display: block; /* Ensure label takes full width */
    margin: 15px 0 5px 0;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.signup-form--left {
    width: 20%;
    justify-content: center;
}

.signup-form--image {
    border-radius: 50%;
    cursor: pointer;
    filter: grayscale(50%);
}

.signup-form--image:hover {
    filter: grayscale(60%);
}

.signup-form--right {
    width: 60%;
}

.signup-form--left input[type="file"] {
    display: none;
}

.signup-btn {
    width: 100%;
    background-color: #4AB4A2;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.signup-form--right b {
    text-align: center;
    font-size: 0.8rem;
}