/* Register.css */
.web {
    background-color: #FFA13F;
    height: 130vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color for better contrast */
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    width: 700px; /* Adjust the width as needed */
    height: 130vh; /* Adjust the height as needed */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Add padding inside the card */
    margin-top: 20vh;
}

.card h1 , .card b{
    color: black;
    margin-top: 20px;
}
.card b a{
    color: #FFA13F;
    text-decoration: none;
}
label {
    color: black;
    text-align: left;
    width: calc(100% - 40px);
    display: block; /* Ensure label takes full width */
    margin: 15px 0 5px 0;
}

.form {
    margin-top: 20px;
    width: 100%; /* Ensure the form takes full width */
}

input {
    width: calc(100% - 40px); /* Adjust width to account for padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.btn-regis {
    margin-top: 50px;
    width: 30vh;
    border-radius: 30px;
    color: white;
    background-color: #4AB4A2;
}
