.trivia-content {
     margin-left: auto;
     margin-right: auto;
     width: 95%;
}

.trivia-content .display-flex .breadcumb {
     color: black;
     font-size: 0.8vw;
     width: 11%;
}

.trivia-content .display-flex .divider {
     height: 1px;
     width: 73%;
     background-color: #ccc;
     margin: 0 10px;
}

.trivia-manage {
     display: flex;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     justify-content: space-between;
}
   
.trivia-search {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.add-trivia-btn {
     width: 14%;
     padding: 10px;
     border: none;
     color: white;
     box-shadow: 1px 1px 2px gray;
     background-color: #4AB4A2;
     cursor: pointer;
     /* display: flex; */
     align-items: center;
}

.btn-edit {
     display: flex;
     justify-content: center; 
     align-items: center; 
     width: 5%;
     padding: 10px;
     border: none;
     color: white;
     border-radius: 5%;
     background-color: #FFA13F;
     cursor: pointer;
     margin-left: auto; 
     margin-right: 50px;
     margin-top: 10px;
 }
 

.trivia-search-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 70%;
     border: 1px solid #ccc;
}

.trivia-select-wrapper {
     position: relative;
     display: flex;
     align-items: center;
     background-color: white;
     /* border-radius: 10px; */
     width: 15%;
     border: 1px solid #ccc;
     border-left: none;
}

.trivia-search-icon {
     position: absolute;
     left: 20px;
     color: #FFA13F;
}

.trivia-search-input {
     padding-left: 50px;
     width: 100%;
     border: none;
     font-size: 14px;
     padding-top: 16px;
     padding-bottom: 16px;
     border-radius: 10px;
}

.trivia-search-input:focus {
     outline: none;
}

.trivia-search-select {
     padding-left: 40px;
     width: 100%;
     border-radius: 4px;
     font-size: 14px;
     padding-top: 10px;
     padding-bottom: 10px;
     border-radius: 10px;
}

.trivia-search-select .ant-select-single {
     height: 52px;
}

.trivia-select-wrapper .ant-select-selector {
     border: none !important;
     box-shadow: none !important;
     padding-left: 30px;
     background-color: #4AB4A2;
}

.trivia-select-wrapper .ant-select-selection-item {
     padding-top: 16px;
     padding-bottom: 16px;
}

.trivia-search-input::placeholder {
     color: #999;
}


.above-table {
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     display: flex;
     justify-content: space-between;
     margin-top: 30px;
     align-items: flex-end;
}

.above-table p {
     color: gray;
     font-size: 14px;
}

.switch-btn button {
     padding: 5px 20px;
     border: none;
     cursor: pointer;
     box-shadow: 1px 1px 2px gray;
}


.dropdown-container-tv {
     position: relative;
     margin-left: auto; /* ดันให้อยู่ขวาสุด */
     display: flex;
     justify-content: flex-end;
     text-align: right;
 }
 
 .dropdown-icon {
     font-size: 1.2em;
     cursor: pointer;
     color: #666;
     transition: color 0.2s;
 }
 
 .dropdown-icon:hover {
     color: #4AB4A2;
 }
 
 .dropdown-trivia {
     position: absolute;
     top: 30px;
     right: 0; /* ให้อยู่ชิดขวาของ dropdown-container */
     background: white;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     width: 150px;
 }
 
 .dropdown-trivia button {
     display: block;
     width: 100%;
     padding: 10px 15px;
     background: none;
     border: none;
     text-align: left;
     font-size: 14px;
     cursor: pointer;
     color: #333;
     transition: background-color 0.2s, color 0.2s;
 }
 
 .dropdown-trivia button:hover {
     background: #f5f5f5;
     color: #4AB4A2;
 }
 

   
.trivia-card {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     height: 24vh;
     padding: 13px;
     justify-content: space-between;
     margin-bottom: 10px;
     box-shadow: 0 2px 2px 1px lightgrey;
     cursor: pointer;
     background-color: white;
}
   
.trivia-pic {
     width: 20%;
     height: 20vh;
     object-fit: cover;
}
   
.trivia-info {
     width: 75%;
     margin-right: 10px;
}
   
.trivia-info h1 {
     font-size: 1.2rem;
     color: #4AB4A2;
     font-weight: 500;
}
   
.trivia-info h1:hover {
     text-decoration: underline;
     cursor: pointer;
}
   
.trivia-des {
     margin-top: 10px;
}

.trivia-date {
     font-size: 0.8rem;
     margin-top: 8px;
     color: gray;
}
   
.trivia-des p {
     display: -webkit-box;
     -webkit-line-clamp: 4;
     -webkit-box-orient: vertical;
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     font-size: 0.9rem;
     line-height: 1.5rem;
}
   
.add-trivia-card {
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     padding: 13px;
     justify-content: space-between;
     margin-bottom: 10px;
     box-shadow: 0 2px 2px 1px lightgrey;
     background-color: white;
}
   
.add-trivia-card:hover {
     background-color: rgb(235, 235, 235);
     box-shadow: 0 2px 2px 1px #4AB4A2;
     cursor: pointer;
}
   
.add-trivia-card i {
     display: flex;
     height: 100%;
     justify-content: center;
     align-items: center;
     color: gray;
     cursor: pointer;
}
   
.add-trivia-card i:hover {
     color: #4AB4A2;
}

.triv-filter {
     margin-left: 10%;
     border-radius: 10px;
     width: 20%;
     margin-top: 1%;
     margin-right: 1%;
     margin-bottom: 2%;
}

.triv-filter--select {
     border-radius: 10px;
     cursor: pointer;
     position: relative;
     width: 100%;
}

.trivia-render {
     width: 95%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
}


.triv-detail-content .btn-goback {
     margin-top: 5px;
     margin-left: 5px;
}