* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.menu-block {
  display: flex;
  width: 80%;
  align-items: center;
}

.menu-card {
  width: 30%;
  padding: 13px;
}

.menu-pic {
  width: 100%;
}

.layout {
  flex-direction: column;
  justify-content: space-between;
}


